*, *:after, *:before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative; }

html {
  background: #00b4ff;
  /* Alte Browser */
  background: -moz-radial-gradient(center, ellipse cover, #00b4ff 1%, #0377be 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #00b4ff 1%, #0377be 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #00b4ff 1%, #0377be 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primarylight, endColorstr=$primarydark, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; }

a {
  color: #fff;
  text-decoration: underline; }

.oben {
  grid-area: oben; }

.links {
  grid-area: links;
  max-width: 10em; }

.inhalt {
  grid-area: inhalt; }

.rechts {
  grid-area: rechts;
  max-width: 10em; }

.unten {
  grid-area: unten; }

.wrapper {
  display: grid;
  grid-gap: 4px;
  grid-template-areas: "oben" "links" "inhalt" "rechts" "unten";
  width: 100%;
  margin: 0pt auto; }

.box {
  color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  font-size: 1rem; }

ul.menu {
  list-style-type: none; }

img {
  max-width: 100%; }

@media (min-width: 50em) {
  .wrapper {
    grid-template-columns: auto 2fr auto;
    grid-template-areas: "oben oben oben" "links inhalt rechts" "unten unten unten"; } }

/* mod_newsflash override */
/* Inspired by https://escss.blogspot.de/2017/04/css-grid-layout-panel.html */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center; }

section.hexanews {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vmin;
  max-width: 100vmin;
  padding-left: 2vmin;
  margin: .5rem auto; }
  section.hexanews article {
    background: #fff;
    color: #00b4ff;
    width: 28.86667vmin;
    height: 33.33333vmin;
    overflow: hidden;
    transition: 1s;
    clip-path: url(#hexa-v);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    filter: drop-shadow(0 0 1px #fff); }
  section.hexanews a:nth-of-type(1) {
    grid-column: 2 / span 2;
    grid-row: 1; }
  section.hexanews a:nth-of-type(2) {
    grid-column: 4 / span 2;
    grid-row: 1; }
  section.hexanews a:nth-of-type(3) {
    grid-column: 1 / span 2;
    grid-row: 2; }
  section.hexanews a:nth-of-type(4) {
    grid-column: 3 / span 2;
    grid-row: 2; }
  section.hexanews a:nth-of-type(5) {
    grid-column: 5 / span 2;
    grid-row: 2; }
  section.hexanews a:nth-of-type(6) {
    grid-column: 2 / span 2;
    grid-row: 3; }
  section.hexanews a:nth-of-type(7) {
    grid-column: 4 / span 2;
    grid-row: 3; }
  section.hexanews a:nth-of-type(-n+2) {
    margin-bottom: -6.66667vmin; }
  section.hexanews a:nth-of-type(n+6):nth-of-type(-n+7) {
    margin-top: -6.66667vmin; }
  section.hexanews figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
    line-height: 1.2;
    transition: .75s .05s;
    hyphens: auto;
    text-align: center; }
    section.hexanews figure h4 {
      font-size: 100%;
      font-weight: 200;
      padding: 0 2vw; }
    section.hexanews figure p {
      font-size: 70%;
      line-height: 1.2;
      font-weight: 100;
      width: 100%;
      padding: 0 1vw; }
    section.hexanews figure a {
      display: block;
      color: #0377be;
      text-decoration: none; }
      section.hexanews figure a:hover {
        color: #00b4ff; }
  section.hexanews img {
    background: #fff;
    min-width: 33.33333vmin;
    min-height: 33.33333vmin;
    max-width: 28.86667vmin;
    max-height: 33.33333vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 0%;
    transition: 1s;
    clip-path: url(#hexagono);
    clip-path: inherit;
    z-index: 10; }
  section.hexanews a:hover img {
    transform: translate(-50%, -50%) rotateY(0.25turn); }

@media only screen and (max-width: 25em) {
  .hexanews figure h4 {
    font-size: 1rem; }
  .hexanews figure p {
    display: none; } }
